<%- include('../partials/head') %>

<form action="/maker" method="post">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-column">

                    <section class="mb-3">
                        <label for="name" class="form-label">Character Name:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="name" maxlength="8" required>
                    </section>

                    <section class="mb-3">
                        <label for="attack" class="form-label">Attack:</label>
                        <input type="number" id="attack" name="attack" placeholder="attack" class="form-control" max="100" required>
                    </section>

                    <section class="mb-3">
                        <label for="defense" class="form-label">Defense:</label>
                        <input type="number" id="defense" name="defense" placeholder="defense" class="form-control" max="100" required>
                    </section>

                    <section class="mb-3">
                        <label for="health" class="form-label">Health:</label>
                        <input type="number" id="health" name="health" placeholder="health" class="form-control" max="100" required>
                    </section>

                    <section class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" name="description" id="description" class="form-control" placeholder="type here.." maxlength="25" required>
                    </section>

                    <button class="btn btn-success w-100">Submit</button>

                </div>
            </div>
        </div>
    </div>
</form>

<%- include('../partials/footer') %>
