<%- include('partials/head') %>





    <div class="d-flex container-fluid flex-wrap ">
        <% for (c of characters) { %>
            
                <div class="d-flex container-fluid m-2 rounded w-25">
                    
                    <div class="card">
                        <img src="https://api.dicebear.com/9.x/adventurer/svg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= c.name %></h5>
                          <form action="/maker/<%= c.id %>" method="get">
                            <button class="btn btn-primary">Details</button>
                        </form>
    
                        </div>
                      </div>

    

                    
                </div>
            

        <% } %>
    </div>
   

  

    <form action="/maker/new" method="get">
        <button class="btn btn-primary m-3">Add a New Character</button>
    </form>

    <%- include('partials/footer') %>