<%- include('partials/head') %>



    <div class="d-flex container-fluid ">
        <% for (c of characters) { %>
            
                <div class="d-flex container-fluid bg-success m-3 p-3 justify-content-between rounded w-25">
                    
                    <p class="text-light">
                    <strong><%= c.name %></strong>

                    </p>

                    <form action="/maker/<%= c.id %>" method="get">
                        <button class="btn btn-primary">Details</button>
                    </form>

                </div>
            

        <% } %>
    </div>
   

  

    <form action="/maker/new" method="get">
        <button class="btn btn-primary m-3">Add a New Character</button>
    </form>

    <%- include('partials/footer') %>